<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 d-none d-md-block">
                <img src="/img/logo.svg" alt="Asoziales Netzwerk – Logo Footer" width="128" height="128" style="filter: grayscale(30%);">
            </div>
            <div class="col-6 col-md-4">
                <div class="footer-headline">Nützliche Links</div>
                <a href="https://github.com/asozialesnetzwerk">GitHub</a><br>
                <a href="/discord">Discord</a><br>
		<a href="mailto:contact@archuser.de">Kontakt</a><br>
            </div>
            <div class="col-6 col-md-4">
                <div class="footer-headline">Rechtlicher Scheiß</div>
                <a href="/imprint">Imprint</a><br>
                <a href="/privacy-policy">Privacy Policy</a><br>
            </div>
        </div>
    </div>
</footer>
