<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="icon" href="img/logofoo.svg">


    <meta charset="UTF-8">
    <meta name="theme-color" content="#8B0000">
    <meta id = "meta-id" property="og:title" content="Webseite des Asozialen Netzwerkes">
    <meta id = "meta-description" property="og:description" content="Eine coole Webseite.">

    <title>Asoziales Netzwerk - {{ page.title }}</title>
</head>