---
layout: default
---
<br>

<div class="container">
    <div class="row">
        <div class="col-lg-3 order-lg-last">
            <div class="wiki-navigation-toggle d-lg-none">
                <a class="btn btn-primary" data-toggle="collapse" href="#wiki-navigation" role="button" aria-expanded="true" aria-controls="wiki-navigation" style="width: 100%">
                    Toggle Navigation
                </a>
                <br><br>
            </div>
            <div class="collapse show" id="wiki-navigation">
                {% for category in site.data.wiki-categories %}
                    <h4>{{ category.title }}</h4>
                    <div class="list-group">
                        {% assign sorted_articles = site.wiki | sort:"position" %}
                        {% for item in sorted_articles %}
                            {% if item.path contains category.folder %}
                                <a href="{{ item.url }}" class="list-group-item list-group-item-action {%if page.url == item.url %}active{% endif %}">{{ item.title }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <br>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-9 order-lg-first wiki-container">
            <h1 id="wiki-headline">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %}</h1>
            {{ content }}

            <hr>
            <div id="wiki-footer">
                Wenn du Lust hast, trete gerne unserer Discord Gilde bei: <a href="/discord">Einladung</a>
            </div>

            <p class="text-center">
                <br>
                <a class="btn btn-primary" target="_blank" href="https://github.com/asozialesnetzwerk/asozialesnetzwerk.github.io/blob/master/{{ page.path }}" role="button">
                    <svg focusable="false" style="margin-right: 7px" width="20px" height="20px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="white" d="M497.9 142.1l-46.1 46.1c-4.7 4.7-12.3 4.7-17 0l-111-111c-4.7-4.7-4.7-12.3 0-17l46.1-46.1c18.7-18.7 49.1-18.7 67.9 0l60.1 60.1c18.8 18.7 18.8 49.1 0 67.9zM284.2 99.8L21.6 362.4.4 483.9c-2.9 16.4 11.4 30.6 27.8 27.8l121.5-21.3 262.6-262.6c4.7-4.7 4.7-12.3 0-17l-111-111c-4.8-4.7-12.4-4.7-17.1 0zM124.1 339.9c-5.5-5.5-5.5-14.3 0-19.8l154-154c5.5-5.5 14.3-5.5 19.8 0s5.5 14.3 0 19.8l-154 154c-5.5 5.5-14.3 5.5-19.8 0zM88 424h48v36.3l-64.5 11.3-31.1-31.1L51.7 376H88v48z"></path>
                    </svg>
                    Verbessere diese Seite
                </a>
            </p>
        </div>
    </div>
</div>

<br>
